body {
  padding-top: 1em;
}

.callout {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background: #eee;
  margin-bottom: 0.5em;
  text-align: center;
}

.callout-value {
  font-size: 3em;
  font-weight: bold;
  line-height: 1em;
}

.loading {
  opacity: 0.5;
}
