{
  "klass": "GoogleAnalytics", /* DO NOT CHANGE */
  "dashboard": "default",
  "profile": "/* GA profile ID */",
  "elements": {
    "events": [
      {
        "name": "/* Display ame for front end */",
        "pagePath": "/* path to restrict events to*/",
        "category": "/* GA event category or null */",
        "label": "/* GA event label or null */",
        "action": "/* GA event action or null */",
        "helptext": "/* Explainer text for front end */"
      }
    ],
    "eventsRankings": [
      {
        "name": "/* Display ame for front end */",
        "pagePath": "/* path to restrict events to*/",
        "category": "/* GA event category or null */",
        "label": "/* GA event label or null */",
        "action": "/* GA event action or null */",
        "helptext": "/* Explainer text for front end */"
        "columnMap": {
          "category": "/* User-friendly name for event category */",
          "action": "/* User-friendly name for event action */"
          "label": "/* User-friendly name for event label */"
        },
        "valueMap": {
          "category": {
            "Value From GA": "Value For User"
          },
          "action": {
            "Value From GA": "Value For User"
          },
          "label": {
            "Value From GA": "Value For User"
          }
        }
      }
    ],
    "pages": [
      {
        "name": "/* Display ame for front end */",
        "url": "http://example.com/page"
      }
    ],
    "dimensions": [
      {
        "number": "/* GA custom dimension index */",
        "name": "/* Custom dimension name */",
        "helptext": "/* Explainer text for front end */"
      }
    ],
    "goals": [
      {
        "name": "/* Display ame for front end */",
        "number": /* GA goal number */,
        "helptext": "/* Explainer text for front end */"
      }
    ],
    "topPages": /* boolean */,
    "referrals": /* boolean */,
    "overallMetrics": /* boolean */,
    "deviceData": /* boolean */
  }
}
