{
  "klass": "GoogleAnalytics", /* DO NOT CHANGE */
  "dashboard": "default",
  "profile": "/* GA profile ID */",
  "elements": {
    "events": [
      {
        "name": "/* Display ame for front end */",
        "category": "/* GA event category or null */",
        "label": "/* GA event label or null */",
        "action": "/* GA event action or null */",
        "helptext": "/* Explainer text for front end */"
      }
    ],
    "pages": [
      {
        "name": "/* Display ame for front end */",
        "url": "http://example.com/page"
      }
    ],
    "dimensions": [
      {
        "number": "/* GA custom dimension index */",
        "name": "/* Custom dimension name */",
        "helptext": "/* Explainer text for front end */"
      }
    ],
    "goals": [
      {
        "name": "/* Display ame for front end */",
        "number": /* GA goal number */,
        "helptext": "/* Explainer text for front end */"
      }
    ],
    "topPages": /* boolean */,
    "referrals": /* boolean */,
    "overallMetrics": /* boolean */
  }
}
