{
  "klass": "MailchimpStats", /* DO NOT CHANGE */
  "dashboard": "default",
  "lists": [
    "/* Mailchimp list IDs for totals */"
  ],
  "campaignWhitelist": [
    "/* Mailchimp list IDs to allow when showing recent campaign performance */"
  ],
  "sourceField": ""/* Mailchimp merge tag name to use for computing signup source totals */""
}
